@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav, footer {
    min-width: 100px;
    max-width: 2000px;
}

.signup-section, .info-section, .quote,.CTA-section {
    min-width: 300px;
    max-width: 2000px;
    min-height: 300px;
    max-height: 1000px;
}

nav, ul, footer, .CTA-content {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

nav {
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-left: 4px;
}


.logo-text, h3 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    gap: 16px;
    padding: 8px;
}

.CTA-content, button {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

button {
    width: 125px;
    height: max-content;
    padding: 4px;
}

.signup-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 160px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 125px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.content-descriptor {
    color: #e5e7eb;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

.placeholder {
    width: 500px;
    height: 200px;
    border: 2px solid red;
    margin-top: 55px;
    text-align: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    padding-bottom: 125px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    padding: 32px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    flex: 1;
    min-width: 100px;
    max-width: 2000px;
    min-height: 200px;
    max-height: 500px;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    min-width: 100px;
    max-width: 125px;
}

.card-img {
    margin-bottom: 8px;
    border: 4px solid #3881f6;
    border-radius: 25px;
    height: 150px;
    width: 100px;
    text-align: center;
}

.figcaption {
    text-align: justify;
}

.quote {
    background-color:#e5e7eb;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}

.quote-text, .quote-signature {
    color: #1f2937;
}

.quote-text {
    text-align: justify;
    font-size: 36px;
    font-style: italic;
    padding: 128px;
}

.quote-signature {
    text-align: right;
    font-weight: bold;
    margin-top: -110px;
    margin-bottom: 110px;
    margin-left: 550px;
    margin-right: -500px;
}

.CTA-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CTA-content {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    gap: 128px;
    min-width: 1000px;
    max-width: 2000px;
    min-height: 128px;
    padding: 32px;
}

.CTA-info {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.last-btn {
    align-self: flex-end;
    border: 4px solid #f9faf8;
}

footer {
    padding: 32px;
    justify-content: center;
    align-items: center;
}

footer span {
    text-align: center;
}