@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

nav, footer {
    min-width: 100px;
    max-width: 2000px;
}

nav, ul, footer {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

nav {
    justify-content: space-around;
    align-items: flex-start;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    gap: 16px;
    padding: 8px;
}

.signup-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 32px;
    padding-bottom: 125px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 8px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.content-descriptor {
    color: #e5e7eb;
    font-size: 18px;
    text-align: justify;
}

.placeholder {
    max-width: 300px;
    max-height: 100px;
}

.signup {
    max-width: 100px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    padding-bottom: 125px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    flex: 1;
}

.image-card {
    max-width: 125px;
}

.card-img {
    margin-bottom: 8px;
}

.figcaption {
    text-align: justify;
}